<h1>All Employees</h1>
<form id="filter">
  <fieldset>
		<legend>Filter by Status</legend>
		<label><input type="radio" name="type" value="all" checked="checked">All</label>
		<label><input type="radio" name="type" value="active" checked="checked">Active</label>
		<label><input type="radio" name="type" value="inactive">Inactive</label>
  </fieldset>
		<legend>Filter by Role</legend>
		<label><input type="radio" name="type" value="all" checked="checked">All</label>
		<label><input type="radio" name="type" value="manager">Manager</label>
		<label><input type="radio" name="type" value="employee">Employee</label>
  </fieldset>
  <fieldset>
		<legend>Sort by</legend>
		<label><input type="radio" name="sort" value="name" checked="checked">Alphabetically</label>
		<label><input type="radio" name="sort" value="store">Store</label>
		<label><input type="radio" name="sort" value="pay">Pay Level</label>      
		<label><input type="radio" name="sort" value="time"></label>      
  </fieldset>
</form>

<ul id="employees" class="image-grid">
<%
for employee in @employees  %>
 <li data-id="id<% employee.id %>">
  <li data-id="id-1" data-type="util">
    <strong><%=  link_to employee.name, employee_path(employee) %></strong>
    <span data-type="role"><%=  employee.role %></span>
  </li>
 <% end %>