<h2>Current Employees:</h2>
<table class = "current_employees">  
<% for employee in @current_employees %>
  <tr>
	<td><%= employee.role %></td>
    <td><%= link_to employee.name, employee_path(employee) %></td>
  </tr>
<% end %>
</table>
