<h1>New Assignment
	<% if @assignment.store_id.nil? == false %>
		for <%= Store.find(@assignment.store_id).name %> Store
	<% elsif @assignment.employee_id.nil? == false %>
		for <%= Employee.find(@assignment.employee_id).proper_name %>
	<% end %>
</h1>

<%= render 'form' %>

<%= link_to "Back to All Assignments", assignments_path, :class =>"back button"   %>
