<h2>Past Employees</h2>
<table class="display dataTable">
	<thead>
		<tr>
			<th>Name</th>
			<!-- <th>Role</th> -->
			<th>Phone</th>
		</tr>
	</thead>
	<tbody>
		<% for employee in @past_employees  %>
		<tr>
			<td><%= link_to(employee.name, employee_path(employee)) %></td>
			<!-- <td><%= employee.role.capitalize %></td> -->
			<td><%= employee.pretty_phone %></td>
		</tr>
		 <% end %>
	</tbody>
</table>

