<h1>Stores</h1>
<%=  link_to "Add A New Store", new_store_path  %>
<% for store in @stores %>
	<h2><%=  link_to "#{store.name}", store_path(store) %></h2>
	<table>
		<tr>
			<td><%=  store.address %></td>
			<td><%=  store.pretty_phone %></td>
		</tr>
	</table>
	<!-- edit button -->
	<!-- manage employees button -->
<% end %>
