<h1>Job Details</h1>
<%= raw custom_button("job", "edit", edit_job_path(@job), "Edit Job") %>
<table class="table">
	<tr>
		<th>Active</th>
		<td><%= @job.active ? "yes" : "no" %></td>
	</tr>
	<tr>
		<th>Name</th>
		<td><%= @job.name %></td>
	</tr>
	<tr>
		<th>Description</th>
		<td><%= @job.description %></td>
	</tr>
</table>
