<%#
# include the pager for sorted tables with jquery tablesorter
%>

<div id="pager" class="pager" style="margin-top: 10px;">
    <form>
        <img src="/images/pager/prev.png" class="prev"/>
        <span class="page-num">Page <input type="text" class="pagedisplay"></span>
       
		<span class="page-rows">View <select class="pagesize">
            <option selected="selected"  value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option  value="40">40</option>
        </select> Rows</span>
		<img src="/images/pager/next.png" class="next"/>
    </form>
</div>