
#main {
	form div {
		margin: 0;
		width: 70%;
		label {
			display: block;
			margin-bottom: 0;
		}
		.tel {
			width: 7em;
		}
	}

	label {
		font-size: 1.2em;
	}
	
	input[type="text"], input[type="password"], textarea {
		min-width: 20em;
		padding: 6px 12px;
		font-size: 1.2 em;
		line-height: 1.4;
		.rounded(6px);
		border: 1px solid #A4A2A2;
	}

	textarea:focus, input:focus {
		background-color: #fff; 
		.inner-shadow(0 1px 1px rgba(34,29,29,0.1); 
	}

	#login-form-box {
		.prettybox;
		display:inline-block;
		.center;
	}
}
