#main-wrapper {
	background-image: url("/images/groovepaper.png");
	padding: 0;
	#main {
		min-height: 700px;
		.invisible {
			display: none;
			visibility: hidden;
			height: 0;
			width: 0;
		}
	
		width: @content_width - (2*@padding);
		.center;
		padding: @padding;

		h1{
			display: inline-block;
		}
		h3{
			margin-top: 1em;
		}
		.page_label {
			color: @dark_grey;
			display: block;
			font-family: georgia;
			font-size: 1.4em;
			font-weight: normal;
			margin-bottom: 0em;
			padding-left: 0.1em;
		}
	}
}

