<div id="quick-links-wrapper">
	<div id="quick-links">
	<h2>Quick Links</h2>
		<ul>
			<li><%= link_to "Add Employee", new_employee_path, :class => "employee"  %></li>
			<!-- should this even be here? wouldn't you think about adding shifts to stores/employees? -->
			<li><%= link_to "Add Shift", new_shift_path, :class => "shift" %></li>
			<li><%= link_to "Add Job", new_job_path, :class => "add job" %></li>
		</ul>
	</div>
</div>
