<%= render :partial => 'active_stores' %>

<%= render :partial => 'top_employees' %>

<div id="morenav-container">
	
	<%= render :partial => 'search_employees' %>

	<%= render :partial => 'admin_quick_links' %>
</div>
