	<div class="incomplete-shifts">
		<h2><a href="#" rel="popover" data-content="You need to add a list of jobs done during these shifts." data-original-title="Shifts to Update">
		Shifts to Update
		</a></h2>
		<table class="display dataTable">
			<thead>
				<tr>
					<th>Date</th>
					<th>Time</th>
					<th>Employee</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% for shift in @store.shifts.incomplete %>
				<tr>
					<td><%= humanize_date(shift.date) %></td>
					<td><%= shift.name %></td>
					<td><%= shift.employee.name %></td>
					<td><%= link_to("Add Details", edit_shift_path(shift), :class => 'btn btn-mini') %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
