	<% unless @shifts.past.empty? %>
	<div class="past-shifts">
		<h2>Past Shifts</h2>
		<table class="display dataTable">
			<thead>
				<th>Date</th>
				<th>Time</th>
				<th>Hours</th>
				<th>Store</th>
			</thead>
			<tbody>
				<% for shift in @shifts.past %>
				<td><%= humanize_date(shift.date) %></td>
				<td><%= shift.name %></td>
				<td><%= shift.hours %></td>
				<td><%= shift.store.name %></td>
				<% end %>
			</tbody>
		</table>
	</div>
	<% end %>
