<% unless @shifts.past.empty? %>
	<div class="past-shifts">
		<h2>Past Shifts</h2>
		<table class="display dataTable">
			<thead>
				<th>Date</th>
				<th>Time</th>
				<th>Hours</th>
				<th>Store</th>
			</thead>
			<tbody>
				<% for shift in @shifts.past %>
				<td><%= humanize_date(shift.date) %></td>
				<td><%= link_to shift.name, shift_path(shift) %></td>
				<td><%= shift.hours %></td>
				<td><%= shift.store.name %></td>
				<% end %>
			</tbody>
		</table>
	</div>
<% else %>
	<div class="nil-message">
		<h2>Past Shifts</h2>
		<p>You have no past shifts.</p>
	</div>
<% end %>
