<div class="shifts calendar">
	<h2>Today's Shifts</h2>
	<% unless @store.shifts(1.day).nil? %>
		<ul>
		<% for shift in @store.shifts(1.day) %>
			<!-- shift div is a link to edit page -->
			<li>
				<a href=<%= edit_shift_path(shift) %> class="">
						<p><%= shift.employee.name %></p>
						<p><%= shift.name %></p>
				</a>
			</li>
		<% end %>
		</ul>
	<% else %>
		<p class="nil-message">There aren't any Shifts Scheduled for today.</p>
	<% end %>
</div>
