<div class="shifts-calendar">
	<h2>Today's Shifts</h2>
	<% unless @todays_shifts.empty? %>
		<table>
		<% for shift in @todays_shifts %>
			<tr>
				<th><%= link_to(shift.name, edit_shift_path(shift)) %></th>
				<td><%= shift.employee.name %></td>
			</tr>
		<% end %>
		</table>
	<% else %>
		<p>There aren't any shifts scheduled for today.</p>
	<% end %>
</div>
