<div class="shifts-calendar">
	<h2>Today's Shifts</h2>
	<% unless @todays_shifts.empty? %>
		<table>
		<% for shift in @todays_shifts %>
			<tr>
				<a href=<%= edit_shift_path(shift) %> class="">
					<th><%= shift.name %></th>
					<td><%= shift.employee.name %></td>
				</a>
			</tr>
		<% end %>
		</table>
	<% else %>
		<p class="nil-message">There aren't any shifts scheduled for today.</p>
	<% end %>
</div>
