<div class="store-employees">
	<% unless @store.employees.nil? %>
		<h2>Employees</h2>
		<table class="display dataTable">
			<thead>
				<tr>
					<th>Name</th>
					<th>Total Hours (for last two weeks)</th>
					<th>Date of Last Shift</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% for employee in @store.employees %>
				<tr>
					<th><%= employee.name %></th>
					<td><%= employee.shift_hours_worked %></td>
					<% unless employee.last_shift_worked.nil? %>
						<td><%= humanize_date(employee.last_shift_worked.date) %></td>
					<% else %>
						<td>Employee has no shifts.</td>
					<% end %>
					<td><%= link_to "New Shift", new_shift_path, :class => "add shift" %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	<% else %>
		<p class="nil-message">There aren't any Employeees at this Store.</p>
	<% end %>
</div>
