<div id="top-employees" class="employees">
	<h2>Top Employees</h2>
	<span class="note">Top Employees are employees who have worked the most hours in the past two weeks.</span>
	<% unless @top_employees.empty? %>
		<% for employee in @top_employees %>
			<div class="employee">
			<h3 class="name"><%= link_to(employee.name, employee_path(employee)) %></h3>
			<p class="shift-hours-worked">Worked <strong><%= employee.shift_hours_worked %></strong> hours in the Last 2 Weeks</p>
			<% unless employee.current_assignment.nil? %>
				<p>At <%= link_to(employee.current_assignment.store.name + " Store", store_path(employee.current_assignment.store)) %></p>
			<% end %>
			</div>
		<% end %>
	<% else %>
		<p class="nil-message">There aren't any Top Employees.</p>
	<% end %>
</div>
