<div id="top-employees" class="span4">
	<h2><a href="#" rel="tooltip" title="Employees who have worked the most hours in the past two weeks.">
		Top Employees
		</a>
	</h2>

	<% unless @top_employees.empty? %>
		<% for employee in @top_employees %>
			<div class="employee">
				<%= image_tag('icons/icons_01.gif', :alt => "Employee")%>
				<h3 class="name"><%= link_to(employee.name, employee_path(employee)) %></h3>
				<p>Worked <strong><%= employee.shift_hours_worked %> hours</strong> in the Last 2 Weeks
					at <%= link_to(employee.current_assignment.store.name + " Store", store_path(employee.current_assignment.store)) %>
				</p>
			</div>
		<% end %>
	<% else %>
		<p class="nil-message">There aren't any Top Employees.</p>
	<% end %>
</div>
