<% unless @shifts.upcoming.empty? %>
	<div class="upcoming-shifts">
		<h2>Upcoming Shifts</h2>
		<table class="display dataTable">
			<thead>
				<th>Date</th>
				<th>Time</th>
				<th>Hours</th>
				<th>Store</th>
			</thead>
			<tbody>
				<% for shift in @shifts.upcoming %>
				<tr>
					<td><%= humanize_date(shift.date) %></td>
					<td><%= shift.name %></td>
					<td><%= shift.hours %></td>
					<td><%= shift.store.name %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
<% else %>
	<div class="nil-message">
		<h2>Upcoming Shifts</h2>
		<p>You have no upcoming shifts.</p>
	</div>
<% end %>
