	
	<%= f.input :end_time, :hint => 'Hint: round shift end times up to multiples of 15', 
						   :minute_step => 15, 
						   :input_html => {:class => "span1"} %>
	<label>Jobs</label>
	<%= f.input :job_id, :collection => Job.active.alphabetical %>
	<%= f.input :notes %>
