<%= simple_form_for @shift, :html => { :class => 'form-horizontal' } do |shift_form| %>
  <fieldset>
    <legend>New Shift</legend>
	<div class="shift_fields">
		<%= render :partial => 'new_shift_fields', :locals => {:f => shift_form} %>
	</div>

    <div class="form-actions">
      <%= shift_form.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', shifts_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>



