.box-title {
	margin:0;
}

.alpha{
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(0, 0, 0);
	/* RGBa with 0.4 opacity */
	background: rgba(0, 0, 0, 0.4);
}

#main-wrapper #dash {
	/* admin */

	#active-stores .store, #top-employees .employee {
		.prettybox;
		min-height: 5em;
		padding: 0.75em;
		margin-top: 0.75em; 
	}

	#active-stores {
		margin-bottom: 3em;
		.store {
			padding: 0.75em;
			max-width: 370px;
			.name {
				.box-title;
				border-bottom: 1px solid @dark_grey;
			}
			
			.num-employees, .shift-hours-worked, .assign-employee {
				display: table-cell;
				padding: 1em 0.5em 0.5em 0.5em;
				width: 33%;
				text-align: center;
			}
			
			.num-employees, .shift-hours-worked {
				font-size: 0.9em;
				line-height: 1.1;
				strong {
					font-size:3em;
					display:block;
				}
			}
		}
	}
	
	#top-employees {
		margin-bottom: 3em;
		.note {
			font-size: 0.8em;
		}
		.employee {
			img {
				width: 20%;
				float: left;
				margin-right: 0.5em;
			}
			p {
				width: 90%;
				strong {
					background-color: @lighter_wood_brown;
				}
			}
			.name {
				.box-title;
			}	
		}
	}
	
	#morenav {
		margin-bottom: 3em;
		div h2 {
			font-size: 1.2em;
			color: white;
			font-weight: normal;
		}
		#employee-search {
			padding: 0.5em 1.4em;
			.inset-dark;
			
			#title, form {
				.opacity(1.0);
			}
			
			#title {
				margin-bottom: -5px;
			}
			
			form {
				margin-bottom: 0.25em;
				input[type="text"] {
					width: 80%;
				}
			}
		}
		
		#quick-links {
			.well;
			.inset-dark;
			ul {
				margin-left: 0;
				list-style-type: none;
				li {
					line-height: 1.6;
					a {
						background: @lighter_grey;
						margin-bottom: 0.4em;
						padding-left: 0.5em;
						font-size: 1.25em;
						padding-top: 0.4em;
						padding-bottom: 0.2em;
						img {
							width: 18%;
						}
					}
				}
			}
		}
	}
}
		
