	input[type="checkbox"] {
		float: left;
		margin-right: 0.5em;
	}
	
	.text {
		width: 80%;
		height: 5em;
		margin-top: 1em;
	}
	
	.form-actions {
		clear: both;
		margin-top: 3em;
	}	
	
	fieldset + legend {
		margin-top: 1em;
	}
	
	#login-form-box {
		.prettybox;
		display: inline-block;
		margin: 1em 0 0 37%;
		padding: 1.5em 3em;
		
		h1 {
			margin-bottom: 0.8em;
		}
		
		label[for="password"] {
			margin-top:0.8em;
		}
		
		field {
			margin-top: -0.5em;
		}
		
		label[for="remember_me"] {
			margin-top: 0; 
			margin-bottom: 0.8em;
		}
		
		input[type="text"], input[type="password"] {
			width: 17em;
			margin-bottom: 0.5em;
		}
		
		.submit {
			width: auto;
			margin-top:1em;
			input[type="submit"] {
				padding: 0.5em 0.8em;
				margin-left: -0.6em;
			}
		} 
		.controls {
			margin-bottom: 0.8em;
		}
		
		#resetPassword {
			float:right;
			margin-top:0.4em;
		}
	}
	
	#new_job {
		#job_name {
			margin-top:1em;
		}
		.control-label {
			clear: both;
			margin-top: 0.8em;
		}
		input[type="checkbox"] {
			margin-top: 1.2em;
		}
	}
		
